<div
  class="row"
  ng-repeat="n in [] | range:12 | reverse">
    <div
      class="column column-{{n+1}}"
      ng-repeat="i in [] | range:(12-n)">
        <span class="center-both">{{n+1}}</span>
    </div>
</div>
