.page-container
  background: red
  overflow: hidden
  padding-top: 20px

  h1, h2, h3, h4, h5, h6,
  p
    color: white

  .row
    background: blue
    margin-bottom: 20px

    .column
      position: relative
      height: 100px
      background: yellow
